body[class*="not-found"],
body[class*="thankyou"] {
    header {
        [data-menu-call] {
            display: none;
        }
    }
}

.page404,
.thankyoupage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &>:nth-child(n+2) {
        margin-top: 20px;
    }
}