header.header
    include ../components/logo.svg
    button.button-30(type="button") 
        include ../components/icons/phone.svg
        span 444 47 48
    button.button-30(type="button" data-call-form) 
        include ../components/icons/dialog.svg
        span Talep formu
    a.button-30.button-30--red(href="https://360.ramsgarden.com/3d/" target='_blank') 
        include ../components/icons/3d.svg
        span 3D Daire Seçimi
    button(type="button" data-menu-call).header__menu
        span Menü
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="30" cy="30" r="30" fill="#E5CDB7"/>
            <circle class="circle-hover" cx="30" cy="30" r="30" fill="#23242B"/>
            <path d="M37 24L37 23L23 23L23 24L37 24Z" style="fill: white !important"/>
            <path d="M40 28L40 27L20 27L20 28L40 28Z" style="fill: white !important"/>
            <path d="M40 32L40 31L20 31L20 32L40 32Z" style="fill: white !important"/>
            <path d="M37 36L37 35L23 35L23 36L37 36Z" style="fill: white !important"/>
            </svg>