@font-face {
	font-family: 'Golos';
	font-display: swap;
	src: local('Golos'),
		url('../fonts/GolosText-Regular.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Golos';
	font-display: swap;
    font-weight: 400;
	src: local('Golos'),
		url('../fonts/GolosText-Regular.ttf') format('truetype');
	font-style: normal;
}