$default-font: "Golos",
sans-serif;
$default-font2: "montser",
sans-serif;

$mc2: #FF554C;
$mc3: #E5DF06;
$mc4: #4F90B6;
$gray:rgb(135, 135, 151);
$text: #22223E;
$wc: #fff;
$bc: #000;
$bc2: #000;

$mc: #1A2941;
$bg: #FAFAFA;
$light: #FCFCFC;
$dark: #1A2941;
$gold: #CFA46E;
:root {
  --in: cubic-bezier(0.13, 0.81, 0.23, 0.96);
  --header-h: 86px;
  --logo-w: 155px;
  --sliceFigure: 239px;
  --sliceFigure-big: 541px;

  --page-side-fields: 60px;
}

@media screen and (max-width: 1440px){
  :root {
    --header-h: 90px;
    --logo-w: 120px;
    --sliceFigure-big: 362px;
  }
}
@media screen and (max-width: 992px){
  :root {
    --header-h: 110px;
    --logo-w: 90px;
    --sliceFigure-big: 44px;
  }
}
@media screen and (max-width: 576px){
  :root {
    --header-h: 70px;
    --sliceFigure: 100px;
    --sliceFigure-big: 100px;
  }
}



:root {
	--color-white: rgba(255,255,255,1);
	--color-gray: rgba(63,63,63,1);
	--color-black: rgba(28,29,34,1);
	--color-green: rgba(122,144,73,1);
	--color-gray-body: rgba(97,97,97,1);
	--color-red: rgba(211,7,36,1);
	--color-gray-light: rgba(210,210,211,1);
}

$color-white: rgba(255,255,255,1);
$color-gray: rgba(63,63,63,1);
$color-black: rgba(28,29,34,1);
$color-green: rgba(122,144,73,1);
$color-gray-body: rgba(97,97,97,1);
$color-red: rgba(211,7,36,1);
$color-gray-light: rgba(210,210,211,1);


.text-style-h-1 {
	font-size: 72px;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 120%;
	letter-spacing: -0.03em;
	text-decoration: none;
	text-transform: none;
}
.text-style-h-3 {
	font-size: 40px;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 120%;
	letter-spacing: -0.03em;
	text-decoration: none;
	text-transform: none;
}
.text-style-h-4 {
	font-size: 20px;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 140%;
	letter-spacing: -0.03em;
	text-decoration: none;
	text-transform: none;
}
.text-style-body {
	font-size: 16px;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 140%;
	letter-spacing: -0.03em;
	text-decoration: none;
	text-transform: none;
}

@mixin text-style-h-1() {
	font-size: 72px;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 120%;
	letter-spacing: -0.03em;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-h-3() {
	font-size: 40px;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 120%;
	letter-spacing: -0.03em;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-h-4() {
	font-size: 20px;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 140%;
	letter-spacing: -0.03em;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-body() {
	font-size: 16px;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 140%;
	letter-spacing: -0.03em;
	text-decoration: none;
	text-transform: none;
}