-
    var sec12 = [
        {
            title: "Yapı denetimle ilgili alınan tedbirler nelerdir?",
            "text": `
                <p>Rams Garden projesi tüm yasal çerçevelere uygun ilgili tüm resmi ve idari kurum ve kuruluşların onayları ve izinleri dahilinde inşa edilmektedir.</p>
                <p>En son 2018 deprem yönetmeliğine göre statik projeler hazırlanmaktadır. Beton sınıfı temellerde C30/37, kolon perde ve döşemelerde C40/50 demir sınıfı ise B500 C’dir.</p>
                <p>İnşaat her aşamasında yetkilendirilmiş yapı denetim firması tarafından denetlenmektedir. Her kolon ve döşeme beton dökümlerinde bağımsız laboratuvar tarafından numune alınmakta olup 7 ve 28 günlük kırımları yapılarak beton sınıfı kontrol edilmektedir. Sahaya gelen her demir tırından numune alınarak bağımsız laboratuvar tarafından çekme testi yapılmaktadır.</p>
                <p>Beton öncesi tüm kolon ve döşeme imalatlarındaki demirler ve kalıplar yapı denetim elemanlarına teslim edilerek beton döküm onayı alınmaktadır.</p>
                <p>Ayrıca şirketimiz bünyesinde tüm blokların imalatını kontrol etmek için teknik personeller bulunmaktadır.</p>
            `
        },
        {
            title: "Projeniz konum olarak nerde ve ulaşım ne şekilde mümkün?",
            text: `
                <p>Rams Garden projesi tüm yasal çerçevelere uygun ilgili tüm resmi ve idari kurum ve kuruluşların onayları ve izinleri dahilinde inşa edilmektedir.</p>
                <p>En son 2018 deprem yönetmeliğine göre statik projeler hazırlanmaktadır. Beton sınıfı C40 demir sınıfı B420 C’dir. Zemin etütleri yapılmış olup bunlara uygun olarak radye temel betonu yapılmaktadır.</p>
                <p>İnşaat her aşamasında yetkilendirilmiş yapı denetim firması tarafından denetlenmektedir. Her kolon ve döşeme beton dökümlerinde bağımsız laboratuvar tarafından numune alınmakta olup 7 ve 28 günlük kırımları yapılarak beton sınıfı kontrol edilmektedir. Sahaya gelen her demir tırından numune alınarak bağımsız laboratuvar tarafından çekme testi yapılmaktadır.</p>
                <p>Beton öncesi tüm kolon ve döşeme imalatlarındaki demirler ve kalıplar yapı denetim elemanlarına teslim edilerek beton döküm onayı alınmaktadır.</p>
                <p>Ayrıca şirketimiz bünyesinde tüm blokların imalatını kontrol etmek için teknik personeller bulunmaktadır.</p>
            `,
        },
        {
            title: "Güvenlik sistemine neler dahil?",
            text: `
                <p>Rams Garden projesi tüm yasal çerçevelere uygun ilgili tüm resmi ve idari kurum ve kuruluşların onayları ve izinleri dahilinde inşa edilmektedir.</p>
                <p>En son 2018 deprem yönetmeliğine göre statik projeler hazırlanmaktadır. Beton sınıfı C40 demir sınıfı B420 C’dir. Zemin etütleri yapılmış olup bunlara uygun olarak radye temel betonu yapılmaktadır.</p>
                <p>İnşaat her aşamasında yetkilendirilmiş yapı denetim firması tarafından denetlenmektedir. Her kolon ve döşeme beton dökümlerinde bağımsız laboratuvar tarafından numune alınmakta olup 7 ve 28 günlük kırımları yapılarak beton sınıfı kontrol edilmektedir. Sahaya gelen her demir tırından numune alınarak bağımsız laboratuvar tarafından çekme testi yapılmaktadır.</p>
                <p>Beton öncesi tüm kolon ve döşeme imalatlarındaki demirler ve kalıplar yapı denetim elemanlarına teslim edilerek beton döküm onayı alınmaktadır.</p>
                <p>Ayrıca şirketimiz bünyesinde tüm blokların imalatını kontrol etmek için teknik personeller bulunmaktadır.</p>
            `,
        }
    ];

section.section-12#section12
    .text-style-h-1 Sikça sorulan sorular
    .accordion-container
        each val in sec12
            .ac
                h2.ac-header
                    button.ac-trigger.text-gray-body.text-style-h-3-important(type='button') #{val['title']}
                    .delimiter
                .ac-panel
                    .ac-text.text-style-h-4-important.text-gray-body 
                        | !{val['text']}