section.section-14#section14
    .section-14__top
        .text-style-h-1.text-black İletişim bilgileri
        <svg data-up-arrow width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M53.5 34.8214L43.9706 25.5M43.9706 25.5L34.4412 34.8214M43.9706 25.5C43.9706 31.0238 43.9706 43.2452 43.9706 47.9405C43.9706 53.8095 37.9706 54.5 36.5588 54.5C35.4294 54.5 30.3824 54.5 26.5 54.5" stroke="#7A9049" stroke-width="1.5" stroke-linecap="round"/>
            <rect x="79.5" y="79.5" width="79" height="79" rx="39.5" transform="rotate(-180 79.5 79.5)" stroke="#7A9049"/>
        </svg>
    .section-14__left
        .text-style-h-3.text-black Satış Departmanı:
        a(href="tel:4444748").section-14__link 
            <svg class="bordered-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M39.9994 34.9738V37.9846C40.0005 38.2642 39.9432 38.5408 39.831 38.7969C39.7188 39.053 39.5542 39.2829 39.3478 39.4719C39.1415 39.6608 38.8978 39.8047 38.6325 39.8942C38.3672 39.9838 38.0861 40.017 37.8072 39.9919C34.7128 39.6563 31.7404 38.601 29.1289 36.9108C26.6992 35.3699 24.6393 33.3141 23.0953 30.8892C21.3959 28.271 20.3382 25.2901 20.0082 22.1879C19.983 21.9104 20.0161 21.6307 20.1052 21.3666C20.1943 21.1025 20.3376 20.8599 20.5258 20.6541C20.7141 20.4483 20.9432 20.2838 21.1986 20.1712C21.454 20.0586 21.7301 20.0004 22.0093 20.0001H25.0261C25.5141 19.9953 25.9872 20.1678 26.3572 20.4854C26.7273 20.803 26.969 21.244 27.0373 21.7263C27.1646 22.6898 27.4007 23.6359 27.7412 24.5464C27.8765 24.9056 27.9058 25.296 27.8256 25.6713C27.7454 26.0466 27.559 26.3911 27.2887 26.664L26.0116 27.9386C27.4431 30.4512 29.5276 32.5315 32.0451 33.9602L33.3222 32.6856C33.5956 32.4158 33.9408 32.2298 34.3169 32.1498C34.6929 32.0698 35.0841 32.099 35.444 32.234C36.3564 32.5738 37.3043 32.8095 38.2698 32.9365C38.7582 33.0053 39.2044 33.2509 39.5233 33.6265C39.8422 34.0021 40.0116 34.4817 39.9994 34.9738Z" stroke="#7A9049" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <rect x="0.5" y="0.5" width="59" height="59" rx="29.5" stroke="#7A9049"/>
                </svg>
            .text-style-h-4.text-gray-body 444 47 48
        div.section-14__link
            <svg  class="bordered-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M30.9466 39.3885C30.5505 39.6957 30.2188 39.9368 29.9826 40.1033C29.7485 39.9508 29.4226 39.7309 29.0346 39.4489C28.2135 38.8525 27.1208 37.9833 26.0307 36.8917C23.8273 34.6854 21.75 31.6873 21.75 28.2771C21.75 23.546 25.4648 19.75 30 19.75C34.5353 19.75 38.25 23.5464 38.25 28.2776C38.25 31.416 36.1819 34.4122 33.9617 36.7007C32.8676 37.8285 31.7708 38.7493 30.9466 39.3885ZM25.9071 28.2766C25.9071 30.5724 27.7185 32.4724 30 32.4724C32.2814 32.4724 34.0929 30.5724 34.0929 28.2766C34.0929 25.981 32.2814 24.081 30 24.081C27.7186 24.081 25.9071 25.981 25.9071 28.2766Z" stroke="#7A9049" stroke-width="1.5"/>
                <rect x="0.5" y="0.5" width="59" height="59" rx="29.5" stroke="#7A9049"/>
                </svg>
            .text-style-h-4.text-gray-body Bahçelievler Merkez, Mehmet Akif Cd. no: 12, 34180 Bahçelievler/İstanbul, Türkiye
            a.button-30(href="https://goo.gl/maps/2iKVtE8vxU9HmhPH7" target='_blank')
                include ../../components/icons/marker.svg
                span Google Haritalar'da görüntüle
        a(href="https://www.facebook.com/RamsGardenBahcelievler/").section-14__link
            <svg  class="bordered-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M34.875 24.2378H35.625V23.4878V20.3873V19.7334L34.9772 19.6443C34.6317 19.5968 33.541 19.5 32.2817 19.5C30.8398 19.5 29.5504 19.9568 28.6218 20.9027C27.6935 21.8483 27.2071 23.1995 27.2071 24.8317V26.8125H25.125H24.375V27.5625V31.0286V31.7786H25.125H27.2071V39.75V40.5H27.9571H31.4295H32.1795V39.75V31.7794H34.1471H34.8095L34.8913 31.1221L35.3227 27.6559L35.4276 26.8133H34.5785H32.1787L32.1787 25.176C32.1787 25.1758 32.1787 25.1756 32.1787 25.1754C32.1787 25.1754 32.1787 25.1754 32.1787 25.1754C32.1791 24.704 32.2521 24.5131 32.3199 24.43C32.3586 24.3825 32.5042 24.2378 33.095 24.2378H34.875Z" stroke="#7A9049" stroke-width="1.5"/>
                <rect x="0.5" y="0.5" width="59" height="59" rx="29.5" stroke="#7A9049"/>
                </svg>
            .text-style-h-4.text-gray-body Facebook
        a(href="https://www.instagram.com/ramsgarden.bahcelievler/").section-14__link
            <svg  class="bordered-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M30 33.75C32.0711 33.75 33.75 32.0711 33.75 30C33.75 27.9289 32.0711 26.25 30 26.25C27.9289 26.25 26.25 27.9289 26.25 30C26.25 32.0711 27.9289 33.75 30 33.75Z" stroke="#7A9049" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.125 21.375H25.875C23.3897 21.375 21.375 23.3897 21.375 25.875V34.125C21.375 36.6103 23.3897 38.625 25.875 38.625H34.125C36.6103 38.625 38.625 36.6103 38.625 34.125V25.875C38.625 23.3897 36.6103 21.375 34.125 21.375Z" stroke="#7A9049" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.875 25.875C35.2892 25.875 35.625 25.5392 35.625 25.125C35.625 24.7108 35.2892 24.375 34.875 24.375C34.4608 24.375 34.125 24.7108 34.125 25.125C34.125 25.5392 34.4608 25.875 34.875 25.875Z" fill="#7A9049"/>
                <rect x="0.5" y="0.5" width="59" height="59" rx="29.5" stroke="#7A9049"/>
            </svg>
            .text-style-h-4.text-gray-body Instagram
    form(data-bottom-form autocomplete="off").section-14__right
        .form-title.text-style-h-3.text-black Talep formu:
        .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive").first-offset
            .input-title.text-style-h-4.text-gray Adiniz:
            input(type='text' name="name" placeholder="Metni adiniz").form-field__input
            .input-message(data-input-message)
        .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
            .input-title.text-style-h-4.text-gray Telefon numaran:
            input(type='text' name="phone" placeholder="Телефон").form-field__input
            .input-message(data-input-message)
        .form-field.disabled.form-field-input(data-field-input data-field-email data-status="field--inactive")
            .input-title.text-style-h-4.text-gray E-posta:
            input(type='text' name="email" placeholder="E-posta adresini girin").form-field__input
            .input-message(data-input-message)
        .form-field.disabled.form-field-input(data-field-input data-field-comment data-status="field--inactive")
            .input-title.text-style-h-4.text-gray Mesajın:
            textarea(type='text' name="comment" placeholder="Metni mesajın").form-field__input.text-input
            .input-message(data-input-message)
        .form-field.disabled.form-field-input.form-field-input--checkbox(data-field-input='data-field-input' data-field-agreement='data-field-agreement' data-status='field--inactive')
            input.form-field__input(type='checkbox' name='agreement')
            .input-message(data-input-message='data-input-message')
            .form-field-input--checkbox-subtitle 
            a(target="_blank" href="https://ramsturkiye.com.tr/tr/kvkk") KVKK metnini okudum. 
            | İzin veriyorum.
        button( type="submit" data-btn-submit).button-30
            include ../../components/icons/chevron-right.svg
            span(data-btn-submit-text) Talep oluştur



