section.section-11#section11
    .text-style-h-1 Geni̇ş ve ferah dai̇reler
    div 
        p.text-style-h-4.text-gray-body 2+1’den 5+1’e kadar uzanan, bölgenin en fonksiyonel kullanım alanına sahip daire skalası RAMS Garden Bahçelievler’de hayat buluyor.
        a.button-30.button-30--red(href="http://360.ramsgarden.com/3d/?%26type%3Dplannings" target='_blank') 
            include ../../components/icons/plan.svg
            span Daıre planları
    div 
        p.text-style-h-4.text-gray-body Her daireye özel geniş otopark alanıyla RAMS Garden Bahçelievler, hem aileniz, hem de konuklarınız için vakit ve alan tasarrufu sağlıyor.
        a.button-30.button-30--red(href="https://360.ramsgarden.com/3d/" target='_blank') 
            include ../../components/icons/3d.svg
            span 3D Daıre Seçımı
    +responsiveImage([
        './assets/images/sec11/sec11image.jpg 1920',
        './assets/images/sec11/sec11image@075x.jpg 1240',
        './assets/images/sec11/sec11image@05x.jpg 600',
        './assets/images/sec11/sec11image@05x.jpg 320',
    ], 'interior')