-
    var sec10 = [
        {
            text: 'Garden APP',
            img: './assets/images/sec10/1',
        },
        {
            text: 'Yeni Nesil Kapalı Otopark',
            img: './assets/images/sec10/2',
        },
        {
            text: 'IP Interkom',
            img: './assets/images/sec10/3',
        },
        {
            text: 'Güvenlik',
            img: './assets/images/sec10/4',
        },
        {
            text: 'Ses Yalıtım',
            img: './assets/images/sec10/5',
        },
    ]
section.section-10#section10
    .text-style-h-1.text-black
        span Kusursuz mühendi̇sli̇k
        +img('sec1/sec1-2.jpg')
    div
        .section-10__group
            .text-style-h-3.text-gray Isıtma Sistemi:
            .text-style-h-4.text-gray-body Termostatlı Yerden Isıtma Sistemi
            .delimiter
        .section-10__group
            .text-style-h-3.text-gray Demir Sınıfı:
            .text-style-h-4.text-gray-body B500C Nervürlü inşaat Demiri
            .delimiter
        .section-10__group
            .text-style-h-3.text-gray Betonarme Sistem:
            .text-style-h-4.text-gray-body Kirişsiz plak döşeme
            .delimiter
        .section-10__group
            .text-style-h-3.text-gray Bina Temeli:
            .text-style-h-4.text-gray-body Radye Temel
    div
        .section-10__group
            .text-style-h-3.text-gray Temel Betonu:
            .text-style-h-4.text-gray-body Beton Sınıfı: C30/37
            .delimiter
        .section-10__group
            .text-style-h-3.text-gray Kolon/Perde Betonu:
            .text-style-h-4.text-gray-body Beton Sınıfı: C40/50
            .delimiter
        .section-10__group
            .text-style-h-3.text-gray Asansör:
            .text-style-h-4.text-gray-body Her blokta 1.6 m/sn hızlı 800 kg ve 1.6 m/sn hızlı 1150 kg kapasiteli son teknoloji Kone marka asansör vardır."
    .section-10__gallery
        each val in sec10
            .section-10__gallery-item
                +responsiveImage([
                    val['img']+'/img.jpg 1920',
                    val['img']+'/img@075x.jpg 1240',
                    val['img']+'/img@05x.jpg 600',
                    val['img']+'/img@05x.jpg 320',
                ], 'Koru')
                p.text-gray-body #{val['text']}