section.section-8#section8
    .text-style-h-1.text-black Yaşam Şehirde Yeşeriyor…
    div
        p.text-style-h-4.text-gray-body Şehrin tam ortasında yemyeşil bir yaşam sürmek isteyenler için benzersiz yaşam alanları sunan RAMS Garden Bahçelievler, zengin peyzaj alanlarına sahip rahat bir yaşam konseptidir.
        a.button-30(data-call-form)
            include ../../components/icons/dialog.svg
            span Daha fazla bilgi
    p.text-style-h-4.text-gray-body Bahçelievler’in en değerli lokasyonunda %45’i bahçe ve peyzaj alanına ayrılan proje, tam ortasında bulunan 210 metrelik biyolojik gölet ile doğayı şehirde yaşatıyor.
    +responsiveImage([
        './assets/images/sec8/sec8image.jpg 1920',
        './assets/images/sec8/sec8image@075x.jpg 1240',
        './assets/images/sec8/sec8image@05x.jpg 600',
        './assets/images/sec8/sec8image@05x.jpg 320',
    ], 'Yaşam Şehirde Yeşeriyor…' + index)