section.section-4#section4
    .section-4__left
        <svg data-lazy class="genplan-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1632" height="970" fill="none" viewBox="0 0 1632 970">
            <image data-href="./assets/images/genplan/Image.jpg" x="0" y="0" width="1632" height="970"/>
            <g class="Image">
                //- <g class="Image">
                //-     <path fill="url(#a)" d="M0 0h1632v970H0z" class="Black and white image"/>
                //-     <path fill="url(#b)" d="M667 0h965v970H667z" class="Gradient"/>
                //-     <path fill="url(#c)" d="M0 817h1632v153H0z" class="Gradient"/>
                //-     <path fill="url(#d)" d="M0 0h1632v153H0z" class="Gradient" transform="matrix(1 0 0 -1 0 153)"/>
                //-     <path fill="#fff" fill-opacity=".8" fill-rule="evenodd" d="M1632 0H0v970h1632V0Zm-334.93 501.564 12.12-70.769c.6-2.24-.63-7.077-10.32-8.511-9.69-1.433-71.04-13.138-100.5-18.812-2.7-.448-8.44.09-9.87 5.823-1.44 5.733-8.38 29.263-11.67 40.312l-5.83 51.957-16.6-12.093-42.63 25.531 9.43-26.875c.29-1.493-.36-4.837-5.39-6.271-5.02-1.433-8.07-1.791-8.97-1.791l8.97-80.624c.3-2.09-.54-6.54-6.28-7.615-5.74-1.075-17.95-4.031-23.33-5.374l-.45 1.791-97.359-18.364v1.791l-14.358-3.135c-1.645-.299-5.204-.09-6.281 3.135-1.077 3.225-4.337 11.795-5.833 15.677l-5.832 15.229-1.795 29.114-56.532-10.75.897-67.186c0-.896-.897-2.867-4.486-3.583-3.59-.717-25.425-4.778-35.893-6.719v-1.344l-20.639-4.031v1.344l-54.289-9.854c-1.944-.598-6.281-.717-8.076 3.583-1.794 4.3-6.431 14.333-8.524 18.812l-.898 3.136-6.281 10.75c-.299.447-.897 1.97-.897 4.479v9.854c-8.974-1.792-31.945-8.152-52.046-19.26 0-.359-1.495-37.177-2.243-55.541 0-.448-.628-1.613-3.141-2.688-2.512-1.075-20.19-9.107-28.714-12.989v-.896l-15.704-7.614-.448 1.343-44.867-20.156c-1.196-.597-4.307-1.164-7.178 1.344-2.872 2.508-13.46 11.198-18.396 15.229l-3.14 4.031-11.666 8.063c-.598.746-1.615 2.956-.897 5.822-.718 1.075-.897 1.643-.897 1.792-6.73-3.583-22.164-11.019-30.061-12.093 0-2.867-3.589-37.625-5.384-54.646-.15-.746-1.077-2.508-3.589-3.583-2.513-1.075-67.45-29.114-99.604-42.999-1.197-.448-4.397-.806-7.627 1.344-3.231 2.149-10.021 7.465-13.012 9.854-.149.298-.448 1.254-.448 2.687-.718.717-10.469 7.465-15.255 10.75-.598.448-1.526 1.971-.449 4.479 0 2.688 0 5.375 1.346 6.271 1.436.716 2.094.896 2.244.896-1.047.298-3.141 1.343-3.141 3.135l-13.011-6.271-42.175 30.906c.15-3.583-.269-11.377-3.141-13.885-1.077-1.075-17.199-9.705-25.125-13.885l-17.498-9.407c-.897-.149-3.23-.089-5.384 1.344-2.154 1.434-16.451 11.945-23.331 17.021-.598 0-2.243.358-4.038 1.791-1.794 1.434-11.515 9.257-16.152 12.99l-28.266 20.604c-.747.448-1.794 2.06 0 4.927.718 3.225 9.273 49.121 13.46 71.665l-91.527 68.531c-1.496 1.194-4.038 4.389-2.244 7.614-2.355.672-4.963 2.604-9.527 5.984a488.511 488.511 0 0 1-5.279 3.87c-6.46 4.658-35.594 26.725-49.353 37.177-2.243 1.642-5.833 6.27-2.243 11.645 2.871 4.3 4.486 5.375 4.935 5.375v4.479l-2.692 1.792L305.521 616.23l126.075-17.021c3.141-.448 10.319-2.687 13.909-8.062 5.025 2.866 23.929 13.736 32.752 18.812l1.346-2.688 23.78 17.917c2.841.298 9.063.985 11.216 1.343v4.927l12.563 10.75 1.795-1.791 2.692-3.136 52.942 11.198c1.795-2.09 7.269-6.271 14.806-6.271-3.14 1.792-14.806 11.129-7.627 21.052 4.666 6.45 34.099 27.92 49.353 38.52l117.102 84.655c4.636 3.285 17.049 7.615 23.331 4.48 6.46-3.584 17.348-9.854 21.984-12.542l6.73 7.615 87.041-62.26c4.038-3.135 4.038-6.719 4.038-8.958l.608.176c3.156.924 7.915 2.316 14.647-.624 5.743-2.508 98.406-61.662 144.026-90.926-.3 1.792-.63 5.913.44 8.062-1.79 1.792-2.69 5.375-.44 8.063 1.79 2.15 1.94 3.583 1.79 4.031l7.18 5.375v3.135l20.64 14.781 2.24.448 32.75 26.875c1.8 1.493 6.91 4.479 13.01 4.479 6.11 0 10.92-3.882 12.57-5.823.45 0 1.88-.448 4.04-2.239 2.51-1.792 13.01-9.108 17.94-12.542.9-.298 2.96-1.254 4.04-2.687 2.51-1.792 9.42-6.122 12.56-8.063l45.32-31.353c.9-.896 2.69-4.48 2.69-11.646 4.31-2.867 38.88-26.277 55.63-37.625 2.85.896 9.88 2.061 15.26-.447 5.38-2.509 42.62-35.983 60.57-52.406l3.14-17.468-74.93-14.782Z" class="Subtract" clip-rule="evenodd"/>
                //-     <g class="Stroke green">
                //-         <mask id="e" width="1313" height="615" x="64" y="181" fill="#000" class="e" maskUnits="userSpaceOnUse">
                //-         <path fill="#fff" d="M64 181h1313v615H64z"/>
                //-         <path d="m1309.19 430.795-12.12 70.769 74.93 14.782-3.14 17.468c-17.95 16.423-55.19 49.897-60.57 52.406-5.38 2.508-12.41 1.343-15.26.448-16.75 11.347-51.32 34.757-55.63 37.624 0 7.167-1.79 10.75-2.69 11.646l-45.32 31.353c-3.14 1.941-10.05 6.271-12.56 8.063-1.08 1.433-3.14 2.389-4.04 2.687-4.93 3.434-15.43 10.75-17.94 12.542-2.16 1.791-3.59 2.239-4.04 2.239-1.65 1.941-6.46 5.823-12.57 5.823-6.1 0-11.21-2.986-13.01-4.479l-32.75-26.875-2.24-.448-20.64-14.781v-3.135l-7.18-5.375c.15-.448 0-1.881-1.79-4.031-2.25-2.688-1.35-6.271.44-8.062-1.07-2.15-.74-6.271-.44-8.063-45.62 29.264-138.283 88.418-144.026 90.926-7.179 3.135-12.114 1.344-15.255.448 0 2.239 0 5.823-4.038 8.958l-87.041 62.26-6.73-7.615c-4.636 2.688-15.524 8.958-21.984 12.542-6.282 3.135-18.695-1.195-23.331-4.48L641.123 701.78c-15.254-10.6-44.687-32.07-49.353-38.52-7.179-9.923 4.487-19.26 7.627-21.052-7.537 0-13.011 4.181-14.806 6.271l-52.942-11.198-2.692 3.136-1.795 1.791-12.563-10.749v-4.927c-2.153-.359-8.375-1.046-11.216-1.344l-23.78-17.917-1.346 2.688c-8.823-5.076-27.727-15.946-32.752-18.812-3.59 5.375-10.768 7.614-13.909 8.062L305.521 616.23 71.766 489.023l2.692-1.792v-4.479c-.449 0-2.064-1.075-4.935-5.375-3.59-5.375 0-10.003 2.243-11.645 13.76-10.452 42.893-32.519 49.353-37.177 8.076-5.823 11.666-8.958 14.806-9.854-1.794-3.225.748-6.42 2.244-7.614l91.527-68.531c-4.187-22.544-12.742-68.44-13.46-71.665-1.794-2.867-.747-4.479 0-4.927l28.266-20.604c4.637-3.733 14.358-11.556 16.152-12.99 1.795-1.433 3.44-1.791 4.038-1.791 6.88-5.077 21.177-15.587 23.331-17.021 2.154-1.433 4.487-1.493 5.384-1.344l17.498 9.407c7.926 4.18 24.048 12.81 25.125 13.885 2.872 2.508 3.291 10.302 3.141 13.885l42.175-30.906 13.011 6.271c0-1.792 2.094-2.837 3.141-3.135-.15 0-.808-.18-2.244-.896-1.346-.896-1.346-3.583-1.346-6.271-1.077-2.508-.149-4.031.449-4.479 4.786-3.285 14.537-10.033 15.255-10.75 0-1.433.299-2.389.448-2.687 2.991-2.389 9.781-7.705 13.012-9.854 3.23-2.15 6.43-1.792 7.627-1.344a290142.42 290142.42 0 0 0 99.604 42.999c2.512 1.075 3.439 2.837 3.589 3.583 1.795 17.021 5.384 51.779 5.384 54.646 7.897 1.074 23.331 8.51 30.061 12.093 0-.149.179-.717.897-1.792-.718-2.866.299-5.076.897-5.822l11.666-8.063 3.14-4.031c4.936-4.031 15.524-12.721 18.396-15.229 2.871-2.508 5.982-1.941 7.178-1.344l44.867 20.156.448-1.343 15.704 7.614v.896c8.524 3.882 26.202 11.914 28.714 12.989 2.513 1.075 3.141 2.24 3.141 2.688.748 18.364 2.243 55.182 2.243 55.541 20.101 11.108 43.072 17.468 52.046 19.26v-9.854c0-2.509.598-4.032.897-4.479l6.281-10.75.898-3.136c2.093-4.479 6.73-14.512 8.524-18.812 1.795-4.3 6.132-4.181 8.076-3.583l54.289 9.854v-1.344l20.639 4.031v1.344c10.468 1.941 32.303 6.002 35.893 6.719 3.589.716 4.486 2.687 4.486 3.583l-.897 67.186 56.532 10.75 1.795-29.114 5.832-15.229c1.496-3.882 4.756-12.452 5.833-15.677 1.077-3.225 4.636-3.434 6.281-3.135l14.358 3.135v-1.791l97.359 18.364.45-1.791c5.38 1.343 17.59 4.299 23.33 5.374 5.74 1.075 6.58 5.525 6.28 7.615l-8.97 80.624c.9 0 3.95.358 8.97 1.791 5.03 1.434 5.68 4.778 5.39 6.271l-9.43 26.875 42.63-25.531 16.6 12.093 5.83-51.957c3.29-11.049 10.23-34.579 11.67-40.312 1.43-5.733 7.17-6.271 9.87-5.823 29.46 5.674 90.81 17.379 100.5 18.812 9.69 1.434 10.92 6.271 10.32 8.511Z"/>
                //-         </mask>
                //-         <path stroke="#1C1D22" stroke-width="8" d="m1309.19 430.795-12.12 70.769 74.93 14.782-3.14 17.468c-17.95 16.423-55.19 49.897-60.57 52.406-5.38 2.508-12.41 1.343-15.26.448-16.75 11.347-51.32 34.757-55.63 37.624 0 7.167-1.79 10.75-2.69 11.646l-45.32 31.353c-3.14 1.941-10.05 6.271-12.56 8.063-1.08 1.433-3.14 2.389-4.04 2.687-4.93 3.434-15.43 10.75-17.94 12.542-2.16 1.791-3.59 2.239-4.04 2.239-1.65 1.941-6.46 5.823-12.57 5.823-6.1 0-11.21-2.986-13.01-4.479l-32.75-26.875-2.24-.448-20.64-14.781v-3.135l-7.18-5.375c.15-.448 0-1.881-1.79-4.031-2.25-2.688-1.35-6.271.44-8.062-1.07-2.15-.74-6.271-.44-8.063-45.62 29.264-138.283 88.418-144.026 90.926-7.179 3.135-12.114 1.344-15.255.448 0 2.239 0 5.823-4.038 8.958l-87.041 62.26-6.73-7.615c-4.636 2.688-15.524 8.958-21.984 12.542-6.282 3.135-18.695-1.195-23.331-4.48L641.123 701.78c-15.254-10.6-44.687-32.07-49.353-38.52-7.179-9.923 4.487-19.26 7.627-21.052-7.537 0-13.011 4.181-14.806 6.271l-52.942-11.198-2.692 3.136-1.795 1.791-12.563-10.749v-4.927c-2.153-.359-8.375-1.046-11.216-1.344l-23.78-17.917-1.346 2.688c-8.823-5.076-27.727-15.946-32.752-18.812-3.59 5.375-10.768 7.614-13.909 8.062L305.521 616.23 71.766 489.023l2.692-1.792v-4.479c-.449 0-2.064-1.075-4.935-5.375-3.59-5.375 0-10.003 2.243-11.645 13.76-10.452 42.893-32.519 49.353-37.177 8.076-5.823 11.666-8.958 14.806-9.854-1.794-3.225.748-6.42 2.244-7.614l91.527-68.531c-4.187-22.544-12.742-68.44-13.46-71.665-1.794-2.867-.747-4.479 0-4.927l28.266-20.604c4.637-3.733 14.358-11.556 16.152-12.99 1.795-1.433 3.44-1.791 4.038-1.791 6.88-5.077 21.177-15.587 23.331-17.021 2.154-1.433 4.487-1.493 5.384-1.344l17.498 9.407c7.926 4.18 24.048 12.81 25.125 13.885 2.872 2.508 3.291 10.302 3.141 13.885l42.175-30.906 13.011 6.271c0-1.792 2.094-2.837 3.141-3.135-.15 0-.808-.18-2.244-.896-1.346-.896-1.346-3.583-1.346-6.271-1.077-2.508-.149-4.031.449-4.479 4.786-3.285 14.537-10.033 15.255-10.75 0-1.433.299-2.389.448-2.687 2.991-2.389 9.781-7.705 13.012-9.854 3.23-2.15 6.43-1.792 7.627-1.344a290142.42 290142.42 0 0 0 99.604 42.999c2.512 1.075 3.439 2.837 3.589 3.583 1.795 17.021 5.384 51.779 5.384 54.646 7.897 1.074 23.331 8.51 30.061 12.093 0-.149.179-.717.897-1.792-.718-2.866.299-5.076.897-5.822l11.666-8.063 3.14-4.031c4.936-4.031 15.524-12.721 18.396-15.229 2.871-2.508 5.982-1.941 7.178-1.344l44.867 20.156.448-1.343 15.704 7.614v.896c8.524 3.882 26.202 11.914 28.714 12.989 2.513 1.075 3.141 2.24 3.141 2.688.748 18.364 2.243 55.182 2.243 55.541 20.101 11.108 43.072 17.468 52.046 19.26v-9.854c0-2.509.598-4.032.897-4.479l6.281-10.75.898-3.136c2.093-4.479 6.73-14.512 8.524-18.812 1.795-4.3 6.132-4.181 8.076-3.583l54.289 9.854v-1.344l20.639 4.031v1.344c10.468 1.941 32.303 6.002 35.893 6.719 3.589.716 4.486 2.687 4.486 3.583l-.897 67.186 56.532 10.75 1.795-29.114 5.832-15.229c1.496-3.882 4.756-12.452 5.833-15.677 1.077-3.225 4.636-3.434 6.281-3.135l14.358 3.135v-1.791l97.359 18.364.45-1.791c5.38 1.343 17.59 4.299 23.33 5.374 5.74 1.075 6.58 5.525 6.28 7.615l-8.97 80.624c.9 0 3.95.358 8.97 1.791 5.03 1.434 5.68 4.778 5.39 6.271l-9.43 26.875 42.63-25.531 16.6 12.093 5.83-51.957c3.29-11.049 10.23-34.579 11.67-40.312 1.43-5.733 7.17-6.271 9.87-5.823 29.46 5.674 90.81 17.379 100.5 18.812 9.69 1.434 10.92 6.271 10.32 8.511Z" mask="url(#e)"/>
                //-     </g>
                //- </g>
                //- <path fill="#D9D9D9" d="M0 0h1632v970H0z" class="Rectangle 4072"/>
                <g class="Buildings">
                    <path data-build="g" stroke="#fff" stroke-opacity=".1" stroke-width="2" d="m1176.5 450-5.5 51.5c11.83 8.667 36 26.5 38 28.5s1.83 6.833 1.5 9c20.5 4.333 62.9 13.1 68.5 13.5 5.6.4 8-3.167 8.5-5l9.5-46c3.5-20.333 10.8-62.7 12-69.5 1.2-6.8-6.83-9.5-11-10-29-5.333-89-16.4-97-18-8-1.6-11.33 2.666-12 5l-12.5 41Z" class="Vector 323"/>
                    <path data-build="i" stroke="#fff" stroke-opacity=".1" stroke-width="2" d="m781 471-19.5-4.5c-1-29.667-3-89.9-3-93.5 0-3.6.667-6.5 1-7.5L766 355l1-4c1.833-4 6-13.1 8-17.5s6.833-4.5 9-4c33.833 6.333 102.8 19.2 108 20 5.2.8 6.5 4.667 6.5 6.5l-1 93.5h2.5v2.5l-8.5 22-4.5-2-3.5 8 3.5 2-4.5 10-38.5-7.5 1-2.5-57-12.5-7 1.5Z" class="Vector 325"/>
                    <path data-build="j" stroke="#fff" stroke-opacity=".1" stroke-width="2" d="m706.5 361-2-53.5c-.09-2.4-2.037-4-3-4.5l-29-13v-1l-16-8-.5 1.5-43-19.5c-4-2-7.333-.5-8.5.5L586 279l-3 4c-2.667 1.667-8.6 5.5-11 7.5-2.4 2-2 5.167-1.5 6.5-.167.167-.6.7-1 1.5-1.6 3.2.667 5 2 5.5l5 75.5-2 1.5 28.5 14 2.5-2.5L652 414v2.5l22.5 11 32-29.5v-37Z" class="Vector 326"/>
                    <path data-build="k" stroke="#fff" stroke-opacity=".1" stroke-width="2" d="m542 313-7.5-78.5c-.344-3.6-4.143-6.167-6-7-29.833-12.833-90.7-39-95.5-41-4.8-2-8-1.167-9-.5-3.667 2.667-11.4 8.3-13 9.5-1.6 1.2-1.667 3.167-1.5 4-4 2.667-12.5 8.4-14.5 10-2.5 2-1 4.5-1 5 0 6 1.5 6.5 3.5 7-2.8 1.6-2.5 3.667-2 4.5l9 75.5 22 10.5 5 1 37 20 3-2 13 6-3 2 26 12 38.5-30-4-4v-4Z" class="Vector 327"/>
                    <path data-build="a" stroke="#fff" stroke-opacity=".1" stroke-width="2" d="m216 271 16.5 85.5L243 361l10.5-8 2.5 1.5c3.667-2.833 11.6-8.9 14-10.5 2-1.6 5.167-.333 6.5.5l25 12 51-39.5-3.5-2.5-10-69.5c0-6.4-2.667-9.667-4-10.5-12.167-6.5-37.2-19.9-40-21.5-2.8-1.6-6.5.333-8 1.5-22.333 16.333-67.6 49.4-70 51-2.4 1.6-1.667 4.333-1 5.5Z" class="Vector 328"/>
                    <path data-build="h" stroke="#fff" stroke-opacity=".1" stroke-width="2" d="m1106 494 1-14c2.5-23.667 7.7-72.6 8.5-79 .8-6.4-3.33-8.667-5.5-9l-24-5.5-.5 1.5-97-18v1.5c-.667-.167-3.9-.9-11.5-2.5s-9.833 2.333-10 4.5l-11 29-1.5 29L953 499l16 3.5v2.5l75.5 18.5 2-3.5 44.5 10.5 4-3.5 11-33Z" class="Vector 324"/>
                    <path data-build="b" stroke="#fff" stroke-opacity=".1" stroke-width="2" d="m331 487.5-81-43c-4.334-22.5-13.2-68.4-14-72-.8-3.6-.334-5.5 0-6l17.5-13.5 2.5 1.5c3.166-2.5 10.2-8 13-10 2.8-2 5.5-1.167 6.5-.5 27.5 13.5 83.3 41 86.5 43 3.2 2 5 7.5 5.5 10 2.167 15.5 6.7 47.6 7.5 52 .8 4.4-1.333 6.833-2.5 7.5l1 3-15.5 13h-10.5v2.5L331 487.5Z" class="Vector 319"/>
                    <path data-build="c" stroke="#fff" stroke-opacity=".1" stroke-width="2" d="m382.5 439.5 12 80 87.5 46 14.5-12v-5c5.6 3.2 9.667 3.333 11 3l21-18.5c-1.333-.667-4.3-2.1-5.5-2.5.8-.8 1-2 1-2.5l-5.5-54.5V462c0-3.6-1.333-5.167-2-5.5-9.833-4.833-30.4-15-34-17-3.6-2-7.167-.5-8.5.5l-4.5 3.5-12-6.5v-6c0-3.6-3.333-5.833-5-6.5-8.5-4-26.3-12.5-29.5-14.5-3.2-2-6.667-.834-8 0l-13 10.5h-2.5l-18.5 14 .5 4 1 1Z" class="Vector 318"/>
                    <path data-build="d" stroke="#fff" stroke-opacity=".1" stroke-width="2" d="m590 521 7.5 91.5 119 25.5 18.5-37.5v-16c-.5-17.5-1.5-54.5-1.5-62.5s-4.333-11.333-6.5-12c-10.333-2.167-32.5-6.8-38.5-8-6-1.2-9.167 2.833-10 5-3.667-.667-13.5-2.6-23.5-5 1.2-4.8-1.5-6.667-3-7-11-2.167-34.4-6.8-40-8-5.6-1.2-8.333 1.167-9 2.5L592.5 511l2 .5-4.5 9.5Z" class="Vector 320"/>
                    <path data-build="e" stroke="#fff" stroke-opacity=".1" stroke-width="2" d="m792.5 559.5 1 94.5 53.5 11.5-2 2.5 20 4.5 1.5-2 47 11.5 6-17.5-5-1 2-3.5 5.5 1.5 2.5-.5v-3.5l2.5 1 8-22-3.5-1c1.333-26.333 4-80.1 4-84.5 0-4.4-2.667-5.833-4-6-10.833-2.333-34.1-7.2-40.5-8-6.4-.8-9 2.667-9.5 4.5L856 537c0-5.6-3.333-7.667-5-8-10.167-2-32.2-6.4-39-8-6.8-1.6-9.833.667-10.5 2-1.667 3.5-5.6 11.4-8 15-3 4.5-.5 12-2.5 15.5-1.6 2.8.333 5.167 1.5 6Z" class="Vector 321"/>
                    <path data-build="f" stroke="#fff" stroke-opacity=".1" stroke-width="2" d="m1068 548-7 75.5c-.17 1.816-.5 7 0 8-2 1.5-2.5 6-1 7.5 2 2 2.5 3.833 2.5 4.5l7 5.5v3.5c5.83 4 17.8 12.3 19 13.5 1.2 1.2 2.83 1.167 3.5 1l11 9 9.5-2v-9c2.4 1.2 4.33.5 5 0l83-55.5c3.33-23.167 10-70.4 10-74 0-3.6-1.33-5.5-2-6l-54-40c-26.17 16.667-79.3 50.5-82.5 52.5-3.2 2-4 4.833-4 6Z" class="Vector 322"/>
                </g>
                <g class="Letters">
                <g class="Letter">
                    <rect width="40" height="40" x="244" y="219" fill="#1C1D22" rx="20"/>
                    <path fill="#fff" d="m257.701 247 5.36-14h1.88l5.36 14h-2.04l-1.34-3.48h-5.92l-1.34 3.48h-1.96Zm3.92-5.12h4.68l-2.34-6.48-2.34 6.48Z" class="A"/>
                </g>
                <g class="Letter">
                    <rect width="40" height="40" x="452" y="182" fill="#1C1D22" rx="20"/>
                    <path fill="#fff" d="M467.096 210v-14h1.88v7.38l6.58-7.38h2.34l-5.2 5.76 5.6 8.24h-2.32l-4.5-6.96-2.5 2.74V210h-1.88Z" class="A"/>
                </g>
                <g class="Letter">
                    <rect width="40" height="40" x="630" y="259" fill="#1C1D22" rx="20"/>
                    <path fill="#fff" d="M649.153 287.2c-.92 0-1.687-.153-2.3-.46-.613-.32-1.073-.76-1.38-1.32-.307-.573-.48-1.247-.52-2.02h1.84c.053.667.26 1.187.62 1.56s.94.56 1.74.56c.56 0 1.027-.1 1.4-.3.373-.213.653-.573.84-1.08.187-.52.28-1.233.28-2.14v-9h1.88v9c0 1.24-.16 2.247-.48 3.02-.32.76-.807 1.313-1.46 1.66-.64.347-1.46.52-2.46.52Z" class="A"/>
                </g>
                <g class="Letter">
                    <rect width="40" height="40" x="818" y="321" fill="#1C1D22" rx="20"/>
                    <path fill="#fff" d="M837.055 349v-14h1.88v14h-1.88Z" class="A"/>
                </g>
                <g class="Letter">
                    <rect width="40" height="40" x="1017" y="361" fill="#1C1D22" rx="20"/>
                    <path fill="#fff" d="M1031.4 389v-14h1.88v5.98h7.44V375h1.88v14h-1.88v-6.38h-7.44V389h-1.88Z" class="A"/>
                </g>
                <g class="Letter">
                    <rect width="40" height="40" x="1231" y="395" fill="#1C1D22" rx="20"/>
                    <path fill="#fff" d="M1251.25 423.2a6.41 6.41 0 0 1-3.04-.74c-.92-.493-1.66-1.26-2.22-2.3-.56-1.053-.84-2.407-.84-4.06v-.4c0-1.2.16-2.233.48-3.1.32-.867.76-1.58 1.32-2.14.57-.56 1.23-.973 1.96-1.24.73-.28 1.51-.42 2.34-.42.68 0 1.31.1 1.9.3.59.187 1.11.46 1.58.82.47.36.86.8 1.18 1.32.33.52.58 1.107.74 1.76h-2c-.19-.587-.46-1.067-.82-1.44a3.219 3.219 0 0 0-1.2-.82c-.44-.173-.9-.26-1.38-.26-.72 0-1.39.167-2.02.5-.63.333-1.13.887-1.52 1.66-.37.76-.56 1.78-.56 3.06v.4c0 1.013.12 1.867.36 2.56.24.693.55 1.253.94 1.68.4.413.84.713 1.32.9.49.187.99.28 1.48.28.75 0 1.39-.133 1.94-.4.56-.28 1.01-.713 1.34-1.3.35-.6.55-1.373.62-2.32h-3.5v-1.6h5.3v.6c0 1.08-.13 2.04-.4 2.88-.25.827-.63 1.527-1.14 2.1-.49.56-1.09.987-1.8 1.28-.69.293-1.48.44-2.36.44Z" class="A"/>
                </g>
                <g class="Letter">
                    <rect width="40" height="40" x="1119" y="512" fill="#1C1D22" rx="20"/>
                    <path fill="#fff" d="M1135.05 540v-14h9v1.64h-7.12v4.54h6.52v1.64h-6.52V540h-1.88Z" class="A"/>
                </g>
                <g class="Letter">
                    <rect width="40" height="40" x="843" y="521" fill="#1C1D22" rx="20"/>
                    <path fill="#fff" d="M858.896 549v-14h9v1.64h-7.12v4.34h6.52v1.64h-6.52v4.74h7.12V549h-9Z" class="A"/>
                </g>
                <g class="Letter">
                    <rect width="40" height="40" x="640" y="489" fill="#1C1D22" rx="20"/>
                    <path fill="#fff" d="M654.998 517v-14h4.1c1.4 0 2.6.253 3.6.76s1.767 1.26 2.3 2.26c.533.987.8 2.213.8 3.68v.4c0 1.493-.273 2.753-.82 3.78a5.452 5.452 0 0 1-2.38 2.34c-1.027.52-2.26.78-3.7.78h-3.9Zm1.88-1.64h1.82c1.053 0 1.96-.18 2.72-.54.76-.36 1.347-.927 1.76-1.7.413-.773.62-1.78.62-3.02v-.4c0-1.2-.2-2.167-.6-2.9-.4-.747-.967-1.293-1.7-1.64s-1.6-.52-2.6-.52h-2.02v10.72Z" class="A"/>
                </g>
                <g class="Letter">
                    <rect width="40" height="40" x="436" y="418" fill="#1C1D22" rx="20"/>
                    <path fill="#fff" d="M456.303 446.2a5.905 5.905 0 0 1-2.9-.74c-.893-.493-1.62-1.26-2.18-2.3-.547-1.053-.82-2.407-.82-4.06v-.4c0-1.2.16-2.233.48-3.1.32-.867.753-1.58 1.3-2.14a5.144 5.144 0 0 1 1.88-1.24c.72-.28 1.467-.42 2.24-.42.76 0 1.453.1 2.08.3.64.2 1.2.487 1.68.86s.867.833 1.16 1.38c.307.547.5 1.167.58 1.86h-2c-.187-.907-.58-1.587-1.18-2.04-.6-.453-1.373-.68-2.32-.68-.653 0-1.28.167-1.88.5-.6.333-1.087.887-1.46 1.66-.373.76-.56 1.78-.56 3.06v.4c0 1.013.113 1.867.34 2.56.24.693.553 1.253.94 1.68.387.413.807.713 1.26.9.467.187.92.28 1.36.28 1.04 0 1.853-.253 2.44-.76s.94-1.16 1.06-1.96h2c-.107.773-.32 1.44-.64 2s-.727 1.02-1.22 1.38a5.135 5.135 0 0 1-1.66.78 7.82 7.82 0 0 1-1.98.24Z" class="A"/>
                </g>
                <g class="Letter">
                    <rect width="40" height="40" x="284" y="348" fill="#1C1D22" rx="20"/>
                    <path fill="#fff" d="M299.301 376v-14h5c1.666 0 2.88.353 3.64 1.06.773.693 1.16 1.587 1.16 2.68 0 .72-.2 1.34-.6 1.86a3.44 3.44 0 0 1-1.48 1.1c.826.187 1.48.567 1.96 1.14.48.56.72 1.293.72 2.2 0 .76-.167 1.44-.5 2.04-.334.587-.867 1.053-1.6 1.4-.734.347-1.7.52-2.9.52h-5.4Zm1.88-1.64h3.52c1.2 0 2.02-.213 2.46-.64.44-.44.66-1.02.66-1.74 0-.733-.22-1.313-.66-1.74-.44-.44-1.267-.66-2.48-.66h-3.5v4.78Zm0-6.34h3.12c1.12 0 1.886-.207 2.3-.62.413-.413.62-.94.62-1.58 0-.653-.207-1.18-.62-1.58-.414-.4-1.18-.6-2.3-.6h-3.12v4.38Z" class="A"/>
                </g>
                </g>
            </g>

            <defs>
                <linearGradient id="b" x1="1632" x2="667" y1="421" y2="421" class="b" gradientUnits="userSpaceOnUse">
                <stop stop-color="#fff"/>
                <stop offset="1" stop-color="#fff" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="c" x1="742.5" x2="742.5" y1="970" y2="817" class="c" gradientUnits="userSpaceOnUse">
                <stop stop-color="#fff"/>
                <stop offset="1" stop-color="#fff" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="d" x1="742.5" x2="742.5" y1="153" y2="0" class="d" gradientUnits="userSpaceOnUse">
                <stop stop-color="#fff"/>
                <stop offset="1" stop-color="#fff" stop-opacity="0"/>
                </linearGradient>
                <pattern id="a" width="1" height="1" class="a" patternContentUnits="objectBoundingBox">
                <use xlink:href="#f" transform="matrix(.00028 0 0 .00046 -.028 0)"/>
                </pattern>
            </defs>
        </svg>

    .section-4__right
        .bordered-block
            label.bordered-block__item
                input(type="radio", name="genplan" value="a,d,e,h,i,j")
                span.build-highlighter a
                span.build-highlighter d
                span.build-highlighter e
                span.build-highlighter h
                span.build-highlighter i
                span.build-highlighter j
                .bordered-block__item-text blokların kaba ve duvar imalatları devam etmektedir
            label.bordered-block__item
                input(type="radio", name="genplan" value="f,g,k")
                span.build-highlighter f
                span.build-highlighter g
                span.build-highlighter k
                .bordered-block__item-text blokların duvar imalatları devam etmektedir
            label.bordered-block__item
                input(type="radio", name="genplan" value="a,b,c,d,e") 
                span.build-highlighter a
                span.build-highlighter b
                span.build-highlighter c
                span.build-highlighter d
                span.build-highlighter e
                .bordered-block__item-text blokların ise elektrik ve mekanik imalatları başlamış durumdadır
            label.bordered-block__item.bordered-block__item--no-interactive
                .color-black.text-style-h-3 Projenin %55'i
                .bordered-block__item-text tamamlanmıştır
            label.bordered-block__item
                input(type="radio", name="genplan" value="b,c")
                span.build-highlighter b
                span.build-highlighter c
                .bordered-block__item-text blokların kaba ve duvar imalatları bitmiş durumda olup dış cephe çalışmaları başlamıştır
        button.button-30(data-call-form)
            include ../../components/icons/dialog.svg
            span Daha fazla bilgi edinmek