section.section-9#section9
    .text-style-h-1 Koru
    div
        p.text-style-h-4.text-gray-body 42.300 metrekarelik projeye yürüme mesafesinde bulunan koru alanı ile şehirden çıkmadan tertemiz orman havası evinize dolsun.
        p.text-style-h-4.text-gray-body Binlerce metrekarelik koruda yükselen oksijenle her daim zinde hissedeceksiniz. İçerisinde yer alan yürüyüş parkuru, 50 farklı ağaç çeşidi, zengin bitki örtüsü ile yemyeşil bir doğa şehirde yeşeriyor.
    div
        p.text-style-h-4.text-gray-body 17. yüzyıla dayanan ve IV. Murat ve abisi Genç Osman tarafından yaptırılmış tarihi bir çeşme koru içinde bulunmaktadır. Kökleri 200 yıllık bir tarihe dayanan çeşmenin hemen yanında yer alan çınar ağacı ile tarihe komşu bir yaşam sizi bekliyor.
        a.button-30(data-call-form)
            include ../../components/icons/dialog.svg
            span Daha fazla bilgi
    +responsiveImage([
        './assets/images/sec9/sec9image.jpg 1920',
        './assets/images/sec9/sec9image@0.75x.jpg 1240',
        './assets/images/sec9/sec9image@0.5x.jpg 600',
        './assets/images/sec9/sec9image@0.5x.jpg 320',
    ], 'Koru')