.section-13 {
    height: 108vw;
    position: relative;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-bottom: var(--section-v-offset);
    padding-top: var(--section-v-offset);
    @include row-flex;
    &__info-group {
        &>:nth-child(2) {
            margin-top: 8px;
        }
        .delimiter {
            margin-top: 26px;
            margin-bottom: 26px;
        }
    }
    &__left {
        @include size(11);
        @include shift(0);
        .world-map {
            width: 80%;
            height: auto;
        }
        // @include shift-padding-right(3);
        &>:nth-child(n+2) {
            margin-top: 10px;
        }
        &-full {
            @include size(24);
            @include shift(0);
        }
        &-logos {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            &>* {
                width: 145px;
                height: auto;
            }
            &>:nth-child(n+2) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &__right {
        @include size(13);
        @include shift(0);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        &-half {
            @include size(12);
            @include shift(0);
            // display: flex;
            // align-items: flex-start;
            // align-content: flex-start;
            // flex-wrap: wrap;
            svg {
                width: 100%;
                height: auto;
            }
        }
        &-half-bottom {
            @include size(12);
            @include shift(0);
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-top: 40px;
            &>:nth-child(n+2) {
                margin-left: auto;
            }
        }
        &-full {
            @include size(24);
            @include shift(0);
            margin-top: 40px;
        }
    
    .df {
        display: flex;
        flex-wrap: wrap;
    }

    .button-tiny~.button-tiny {
        margin-top: 2px;
    }
    .logo {
        width: 132px;
        height: auto;
    }
    .logo~.logo {
        margin-top: 40px;
    }
    .world-map {
        margin-top: 40px;
    }
    .fdc {
        flex-direction: column;
    }
    
    }
    picture {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.tablet,
.mobile {
    .section-13 {
        height: auto;
        position: relative;
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
        padding-bottom: var(--section-v-offset);
        padding-top: 0;
        @include row-flex;
        
        .section-13__left {
            position: static;
            top: calc(var(--page-side-fields));
            left: var(--page-side-fields);
            margin-bottom: var(--page-side-fields);

            
        }

        &__info-group {
            &>:nth-child(2) {
                margin-top: 8px;
                min-height: calc(24px * 1.4);
            }
            .delimiter {
                margin-top: 13px;
                margin-bottom: 13px;
            }
        }
        &__left {
            @include size(24);
            @include shift(0);
            padding-left: 0;
            padding-right: 0;
            
        }
        &__right {
            @include size(24);
            @include shift(0);
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: flex-start;
            &-half {
                @include size(12);
                svg {
                    width: 100%;
                    height: auto;
                }
            }
            &-half-bottom {
                @include size(24);
                padding-top: 20px;
                &>:nth-child(n+2) {
                    margin-left: auto;
                }
            }
            &-full {
                @include size(24);
                @include shift(0);
                margin-top: 20px;
            }
            &-mobile-full {
                @include size(24);
                @include shift(0);
            }
        
        .df {
            width: 100%;
        }
        .df~.df {
            margin-top: 16px;
        }
        .button-tiny~.button-tiny {
            margin-top: 0;
        }
        .logo {
            width: 50%;
            height: auto;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        .logo:nth-child(2) {
            padding-left: 30px;
        }
        .fdc {
            flex-direction: row;
            align-items: center;
        }
        .logo~.logo {
            margin-top: 0;
        }
        .world-map {
            margin-top: 20px;
        }
        
        }
        picture {
            position: static;
            margin-bottom: 18px;
        }
    }
}