@import './components/web-item';

.section-3 {
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: var(--section-v-offset);
    padding-bottom: var(--section-v-offset);
     @include row-flex();
     &__left {
            @include size(6);
            @include shift(0);
            &>:nth-child(n+2) {
                margin-top: 20px;
            }
        }
        &__right {
            
            @include size(18);
            @include shift(0);
    }
}

.tablet,
.mobile {
    .section-3 {
        @include row-flex();
        &__left {
                @include size(24);
                @include shift(0);
                &>:nth-child(n+2) {
                    margin-top: 10px;
                }
            }
        &__right {
            margin-top: 18px;
            @include size(24);
            @include shift(0);
        }
    }
}