.section-5 {
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-bottom: var(--section-v-offset);
    &__top {
        display: flex;
        justify-content: space-between;
    }
    .big-slider {
        margin-top: 50px;
    }
}


.big-slider-nav {
    svg {
        width: 32px;
        height: 32px;
        cursor: pointer;
        path {
            transition: .25s ease-out;
        }
        &:hover path {
            fill: var(--color-green);
        }
    }
    &>:nth-child(n+2) {
        margin-left: 40px;
    }
}

.tablet,
.mobile {
    .big-slider-nav {
        svg {
            width: 24px;
            height: 24px;
            cursor: pointer;
            path {
                transition: .25s ease-out;
            }
            &:hover path {
                fill: var(--color-green);
            }
        }
        &>:nth-child(n+2) {
            margin-left: 20px;
        }
    }
}


.big-slider {
    .swiper-wrapper {
        transition-timing-function: cubic-bezier(.23,.75,.45,.96);
    }
    .swiper-slide {
        @include row-flex();
        &__text {
            @include size(5);
            @include shift-right(2);
            @include shift-left(0);
        }
        &__img {
            @include size(15);
            @include shift-right(1);
            @include shift-left(0);
        }
        &__delimiter {
            height: 1px;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: rgba(28, 29, 34, 0.2);
        }
    }
}
.tablet,
.mobile {
    .big-slider {
        .swiper-slide {
            @include row-flex();
            margin-left: 0;
            margin-right: 0;
            &__text {
                @include size(24);
                @include shift-right(0);
                @include shift-left(0);
                margin-top: 16px;
            }
            &__img {
                @include size(24);
                @include shift-right(0);
                @include shift-left(0);
            }
            &__delimiter {
                height: 1px;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: rgba(28, 29, 34, 0.2);
            }
        }
    }
}