.section-11 {
    height: 72vw;
    position: relative;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    @include row-flex;
    &>:nth-child(1) {
        @include size(11);
        @include shift(0);
        @include shift-padding-right(2.5);
    }
    &>:nth-child(2) {
        @include size(6);
        @include shift(0);
        &>:nth-child(n+2) {
            margin-top: 32px;
        }
    }
    &>:nth-child(3) {
        @include size(6);
        @include shift(0);
        &>:nth-child(n+2) {
            margin-top: 32px;
        }
    }
    picture {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}