.section-11 {
    height: 72vw;
    position: relative;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    @include row-flex;
    &>:nth-child(1) {
        @include size(11);
        @include shift(0);
        @include shift-padding-right(2.5);
    }
    &>:nth-child(2) {
        @include size(6);
        @include shift(0);
        &>:nth-child(n+2) {
            margin-top: 32px;
        }
    }
    &>:nth-child(3) {
        @include size(6);
        @include shift(0);
        &>:nth-child(n+2) {
            margin-top: 32px;
        }
    }
    picture {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}

.desktop {
    .section-11:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 49%);
        z-index: -1;
    }
}


.tablet,
.mobile {
    .section-11 {
        height: auto;
        position: relative;
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
        @include row-flex;
        &>:nth-child(1) {
            @include size(24);
            @include shift(0);
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 16px;
        }
        &>:nth-child(2) {
            @include size(24);
            @include shift(0);
            margin-bottom: 12px;
            &>:nth-child(n+2) {
                margin-top: 16px;
            }
        }
        &>:nth-child(3) {
            @include size(24);
            @include shift(0);
            margin-bottom: 16px;
            &>:nth-child(n+2) {
                margin-top: 16px;
            }
        }
        picture {
            position: static;
            margin-top: 20px;
        }
    }
}